.filter {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 2px solid rgb(225, 219, 219);
}

.filter select {
    appearance: none;
    border-radius: 4px;
    background-color: transparent;
    width: 25%;
    cursor: pointer;
    line-height: inherit;
    background-color: #8b33c5;
    text-align: center;
    padding: 0.5rem;
    color: white;
}

.filter-result {
    color: rgb(21, 20, 20);
}

.filter {
    grid-area: filter;
}