header {
    grid-area: header;
    background-color: #7112b1;
}

.logo a {
    padding: 1rem;
    font-size: 2rem;
    color: #ffffff;
    font-weight: bolder;
}

.logo img {
    width: 5rem;
}

.cart a {
    padding: 0.5rem;
    color: white;
    font-size: medium;
    font-weight: bolder;
}

.cart img {
    max-width: 3.7rem;
    width: 4.0rem;
}

.cart {
    padding: 1rem;
    display: flex;
  }