* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #7112b1;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.row {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  -ms-flex-align: baseline;
}

.row.center {
  padding-top: 1.5rem;
  justify-content: center;
}

.container {
  display: flex;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: padding;
}

.footer {
  display: flex;
  padding-top: 1.5rem;
  justify-content: center;
}