* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #7112b1;
}

.logo {
  padding: 1rem;
  font-size: 2rem;
  color: #ffffff;
  font-weight: bolder;
}

.cart a {
  padding: 0.5rem;
  color: white;
  font-size: medium;
  font-weight: bolder;
}

.cart img {
  max-width: 5rem;
  width: 4.0rem;
  height: auto;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #7112b1;
  color: #ffffff;
}

a{text-decoration: none;}
.cart {
  padding: 1rem;
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}